:root{
    --cor-principal: rgb(235, 6, 235);
    --cor-secundaria: rgb(114, 20, 94);
    --botao-azul: rgb(112, 8, 133);
    --cor-fundo: black;
    
}
body{
    background-color: var(--cor-fundo);
}
.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 505;
}
.container__botao{
    background-color: beige;
    border-radius: 5px;
    padding: 1em;
    color: black;
    display: block;
}
.container__botao2{
    background-color: beige;
    border: 2px solid black;
}
